<% provide(:title, 'About') %>
<h1>About TradeInCU</h1>
<p>This is a platform for Columbia University students to MAKE money and SAVE money by trading second hand goods.</p>
<p>TradeInCU is made by Wanderer. Feel free to contact fd2327@columbia.edu.</p>