<% if user_signed_in? %>
<p>Signed in already</p>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
<% else %>
<div class="center hero-unit">
	<h1>StaticPages#home</h1>
    <p><%= link_to "Sign up", '/users/sign_up', class: "btn btn-large btn-primary" %></p>
</div>
<% end %>
